*
{
margin:0;
padding:0;
}

header {
    background-image: url(images/background.jpg) ;
    background-repeat:no-repeat;
    width: 100%;
    height: 850px;
    background-size: cover;
}

#logo {
    position : absolute; right : 650px; top : 450px;
    opacity: 4;
}

label {
  display: block;
}

input[type='submit'],
label {
  margin-top: 1rem;
}

.menu {
  display: flex;
  padding:0;
  background-color: black;
  justify-content: center;
}

.menu li {
  list-style-type: none ;
  padding-left: 100px;
  padding-right: 100px;
}

.menu a {
  display:block;
  font-size: 2em;
  min-width: 300px;
  margin: 0.5rem;
  padding: 0.4rem 0;
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 12px;
}

/* LE BESTIAIRE */

#bestiaire {
  background-image: url(images/bestiaire_bg.jpg) ;
  background-repeat:no-repeat;
  width: 100%;
  height: 1000px;
  background-size: cover;
}

#titre_bestiaire {
  font-size: 7em;
  color: black;
  text-align: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Chacher les images . a retravailler */
.mySlides {
    display: none;
  }

/* Gestion des fleches */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* La position du next */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* La numérotation */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Les ptites bulles */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
  }
  
/* L'animation de changement */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  #titre_forge {
    font-size: 7em;
    color: white;
    text-align: center;
}

#forge {
  background-image: url(images/forge_2.jpg) ;
  background-repeat:no-repeat;
  width: 100%;
  height: 950px;
  background-size: cover;
}

#lien_forge a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  border: 1px solid white;
}

#titre_palico {
  font-size: 7em;
  color: white;
  text-align: center;
}

#palico {
    background-image: url(images/Palico.jpg) ;
    background-repeat:no-repeat;
    width: 100%;
    height: 950px;
    background-size: cover;
}

#spec_palico {
  width: 30%;
  color: white;
  padding: 10px;
  font-size: 1.2em;
  text-align: justify;
  border: 1px solid white;
  border-radius: 12px;
}